.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  /* background: linear-gradient(140deg, rgb(255, 255, 255), rgb(255, 255, 255)); */
}

.calculator {
  padding: 20px;
  border-radius: 10px;
  /* background-color: rgb(211, 211, 211); */
  border: 2px solid rgba(255, 255, 255, 0);
}

form input {
  width: 60px;
  height: 60px;
  font-size: 19px;
  background-color: rgba(0, 0, 0, 0.432);
  margin: 2px;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

form input[type="button"]:hover {
  background-color: rgb(0, 0, 0);
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0px 15px 0px;
}

form .display input {
  text-align: right;
  flex: 1;
  font-size: 40px;
  padding: 5px 10px;
}

form input.equal {
  width: 123px;
}
